*{
    
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h4{
    margin: 0;
}

h1{
    color: white;
}

h2{
    color: white;
}

.title-hero{
    text-align: center;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: black;
    background-size: cover;
    padding: 20px;
    color: #fff;
    overflow: hidden;
}

.header-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.news-container {
        display: flex;
        
    }

.news1 {
        flex: 50%;
        background-color: #f2f2f2;
        padding: 20px;
        box-sizing: border-box;
        margin-left: 15px;
        margin-right: 5px;
        background-image: url(ia.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        max-width: 700px;
        max-height: 400px;
    }

.news2 {
        flex: 30%;
        background-color: #e0e0e0;
        padding: 20px;
        box-sizing: border-box;
        margin-left: 15px;
        margin-right: 5px;
        background-image: url(people.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        max-width: 400px;
        max-height: 300px;
    }

.news3 {
        flex: 20%;
        background-color: #d0d0d0;
        padding: 20px;
        box-sizing: border-box;
        margin-left: 15px;
        margin-right: 15px;
        background-image: url(ovni.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        max-width: 300px;
        max-height: 200px;
    }

.news33 {
        flex: 20%;
        background-color: #d0d0d0;
        padding: 20px;
        box-sizing: border-box;
        margin-left: 15px;
        margin-right: 15px;
        background-image: url(bomb.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        max-width: 300px;
        max-height: 200px;
}

.news4 {
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    padding: 90px;
    box-sizing: border-box;
    justify-content: center;
    background-image: url(rover.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    max-width: 700px;
    max-height: 400px;

}

.news5 {
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    padding: 90px;
    box-sizing: border-box;
    justify-content: center;
    background-image: url(dados.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    max-width: 700px;
    max-height: 400px;
}

.news6 {
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    padding: 90px;
    box-sizing: border-box;
    justify-content: center;
    background-image: url(technews.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    max-width: 700px;
    max-height: 400px;
}

.section {
    max-width: 800px; /* Define a largura máxima para o texto */
    margin: 0 auto; /* Define as margens automáticas para centralizar */
    text-align: left; /* Alinha o texto à esquerda */
}

/* Estilo para o container do footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: url(footer.png);
    color: white;
}

/* Estilo para as colunas do footer */
.footer-column {
    flex: 1;
    padding: 10px;
}

/* Estilo para os links do footer */
.footer-column a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

/* Estilo para o logotipo no footer */
.footer-logo {
    text-align: center;
    padding: 20px;
}

/* Estilo para o rodapé inferior */
.footer-bottom {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}



